@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    width: 428px;
    background-color: #E5E5E5;

}

.uppermenu{
    background-color: #CF2B2B;
    padding-bottom: 8px;
    
}

.logo-and-description :nth-child(1){
    font-family: 'Righteous';
    color: #FFFFFF;
    margin: 0 0 0 18px;
    font-weight: 400;
    font-size: 44px;
    padding-top: 10px;
}

.logo-and-description :nth-child(2){
    font-family: 'Roboto';
    color:  #FFFFFF;
    margin: 8px 0 0 21px;
    font-weight: 400;
    font-size: 18px;
}